<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>257980343137-v7poulo5ijj1uncp1sjj8gge3e2msl71.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.257980343137-v7poulo5ijj1uncp1sjj8gge3e2msl71</string>
		<key>API_KEY</key>
		<string>AIzaSyD2OQIoGKu_6DnXEZEyAu1iki8pmb6uaDA</string>
		<key>GCM_SENDER_ID</key>
		<string>257980343137</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.levels2220</string>
		<key>PROJECT_ID</key>
		<string>levels2222</string>
		<key>STORAGE_BUCKET</key>
		<string>levels2222.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:257980343137:ios:c904986387cb2e88e5db20</string>
	</dict>
</plist>